<!--========================================================
                          HEADER
=========================================================-->

<header id="header" class="stellar-block header_video" data-stellar-background-ratio="0.5">

  <div id="stuck_container">
    <h1 class='fixed_logo'><!--  #左上logo -->
      <a href="<%= root_path %>">
        <span class="first">Opul Union</span><br>
        <!-- <span class="second">Agricultural technique</span> -->
      </a>
    </h1>

    <nav class="en">
      <ul class="sf-menu common">
        <li class="<%= current_path(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= current_path(abouts_path) %>"><%= link_to "About", abouts_path %></li>
        <li class="<%= current_path(products_path) %>"><%= link_to "Product", products_path %></li>
        <li class="<%= current_path(inspections_path) %>"><%= link_to "Inspection", inspections_path %></li>
        <li class="<%= current_path(news_index_path) %>"><%= link_to "News", news_index_path %></li>
        <li class="<%= current_path(contacts_path) %>"><%= link_to "Contacts", contacts_path %></li>
        <li class="<%= current_path(stores_path) %>"><%= link_to "Where To Buy", stores_path %></li>
      </ul>
      <div class="clearfix"></div>
    </nav>

    <nav class="zh">
      <ul class="sf-menu common">
        <li class="<%= current_path(root_path) %>"><%= link_to "主頁", root_path %></li>
        <li class="<%= current_path(abouts_path) %>"><%= link_to "關於我們", abouts_path %></li>
        <li class="<%= current_path(products_path) %>"><%= link_to "產品", products_path %></li>
        <li class="<%= current_path(inspections_path) %>"><%= link_to "認證", inspections_path %></li>
        <li class="<%= current_path(news_index_path) %>"><%= link_to "新聞", news_index_path %></li>
        <li class="<%= current_path(contacts_path) %>"><%= link_to "聯絡我們", contacts_path %></li>
        <li class="<%= current_path(stores_path) %>"><%= link_to "銷售通路", stores_path %></li>
      </ul>
      <div class="clearfix"></div>
    </nav>
  </div>


<% if current_page?(:controller => '/home', :action => 'index') %>
  <div id="js-container" style='z-index:-1;'>
    <div id="js-wrapper" class="page-home">
      <header id="js-intro-header">
        <div class="particles" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        </div>

        <div class="web">
          <div class="video" style="margin-top: -48px;width:101%; height:100%;position: absolute;">
            <iframe id="js-youtube" class="youtube" style="width: 120%; height: 142%;margin-top: -10%;margin-left: -10%;" frameborder="0" allowfullscreen="1" title="YouTube video player" width="1440" height="860" src="https://www.youtube.com/embed/x_7J9_kxe-8?showinfo=0&amp;autohide=1&amp;autoplay=1&amp;controls=0&amp;rel=0&amp;loop=1&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fzeppelin.co.jp"></iframe>
          </div>
        </div>

      </header>
    </div>
    <div class="clearfix"></div>
  </div>

  <script>
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $('.web').hide();
    } else {
      $('.web').show();
    };
  </script>

  <div class="banner1" style="">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <div class="slogan">
            <span class="en">
              <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Opul Union</h6>
              <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">Way back to happiness</h5>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
            </span>
            <span class="zh">
              <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Opul Union</h6>
              <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">尋回幸福</h5>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">我們秉承科學實驗精神和社會福利貢獻為宗旨</p>
            </span>
            <ul  class="socials1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <!-- <nav id="language">
              <ul>
                <li><a onclick="trans_en(this);" style="cursor: pointer;"><span class="zh">英</span><span class="en">English</span></a> /</li>
                <li> <a onclick="TongWen.trans2Trad(document);trans(this,'trad');" style="cursor: pointer;"><span class="zh">繁中</span><span class="en">Chinese(Traditional)</span></a> /</li>
                <li><a onclick="TongWen.trans2Simp(document);trans(this,'simp');" style="cursor: pointer"><span class="zh">簡中</span><span class="en">Chinese(Simplified)</span></a></li>
              </ul>
            </nav> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="position:relative;text-align:center;">
    <ul class="socials1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
      <li><a onclick="trans_en(this);" style="cursor: pointer;"><i class="" style="font-size:15px;width:40px;height:40px;line-height: 40px;"><span class="zh">英</span><span class="en">EN</span></i></a></li>
      <li><a onclick="TongWen.trans2Trad(document);trans(this,'trad');" style="cursor: pointer;"><i class="" style="font-size:15px;width:40px;height:40px;line-height: 40px;"><span class="zh">繁</span><span class="en">TW</span></i></a></li>
      <li><a onclick="TongWen.trans2Simp(document);trans(this,'simp');" style="cursor: pointer"><i class="" style="font-size:15px;width:40px;height:40px;line-height: 40px;"><span class="zh">簡</span><span class="en">CN</span></i></a></li>
    </ul>
  </div>
<% end %>


</header>
