<section id="content">

  <div class="wrapper1">
    <div class="container">
      <div class="row">
        <div class="grid_3">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="zh">地址</h2>
            <h2 class="en">Address</h2>
          </div>
          <address class="contacts-address">
            <span class="our-address wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">興聯農業科技股份有限公司.<br> 42826497<br> 台北市復興北路333號10樓之2.</span>

            <span class="wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"><span class="wide">Telephone:</span>+886-2-27185552</span>
            <span class="wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"><span class="wide">FAX:</span>+886-2-27185360</span>
            <span class="wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">E-mail: <a href="mailto:mail@demolink.org" class="simple-link">miko@opulunion.com</a></span>
          </address>
        </div>
        <div class="grid_8 preffix_1">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="zh">聯絡我們</h2>
            <h2 class="en">Contact Form</h2>
          </div>
          <form id="contact-form">
            <div class="contact-form-loader"></div>
            <fieldset>
              <div class="row">
                <div class="grid_5">
                  <label class="name wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <input type="text" name="name" placeholder="Name*:" data-constraints="@Required @JustLetters"/>
                    <span class="empty-message">*This field is required.</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="grid_5">
                  <label class="email wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <input type="text" name="email" placeholder="Email*:" value=""
                           data-constraints="@Required @Email"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid email.</span>
                  </label>
                </div>
              </div>
<!--               <div class="row">
                <div class="grid_5">
                  <label class="phone wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <input type="text" name="phone" placeholder="Phone:" value=""
                           data-constraints="@JustNumbers"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid phone.</span>
                  </label>
                </div>
              </div> -->
              <div class="row">
                <div class="grid_8">
                  <label class="message wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <textarea name="message" placeholder="Message:"
                              data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*The message is too short.</span>
                  </label>
                </div>
              </div>
              <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->
              <div class="contact-form-buttons">
                <a href="#" id="send" data-type="submit" class="btn-filled wow fadeIn" data-wow-duration="1s"
                   data-wow-delay="0.5s">Send</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="google-map_contacts" style='padding-left:15px;padding-right:15px;'>
     <iframe src="https://www.google.com/maps/embed/v1/place?q=%E5%8F%B0%E5%8C%97%E5%B8%82%E5%BE%A9%E8%88%88%E5%8C%97%E8%B7%AF333%E8%99%9F10%E6%A8%93%E4%B9%8B2&key=AIzaSyDYmqNHjKXe_isz6EmUu6CZECbWuhUpIfQ" style="border:0"></iframe>
  </div>

</section>

<section class="contact_form">
<% if flash[:notice] %>
  <% if flash[:notice] == "發送成功" %>
    <!-- <div class="notice">您的訊息已經發送成功</div> -->
    <div class="alert alert-success" style="display: none;padding-top: 7px;padding-bottom: 7px;margin-bottom: 10px;">
      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 發送成功!您的訊息已經成功寄給管理員.
    </div>
  <% end %>
<% end %>

<div style="opacity: 0;height: 0px;width: 0px;">
<%= form_for(Admin::Contact.new, :url =>{:controller => "contacts", :action => "create"}, :method => "POST", style: "opacity:0;height:0px;width:0px;") do |f| %>
  <%= f.text_field :name, :required => true, :placeholder => "Full Name"%>
  <%= f.email_field :email, :required => true, :placeholder => "Email Address" %>
  <%= f.text_area :message, :required => true, :placeholder => "Your Message" %>
  <%= f.submit 'Submit' %>
<% end %>
</div>

<script>
  $('#send').click(function(){
    name = $(':input[name=name]').val();
    email = $(':input[name=email]').val();
    message = $(':input[name=message]').val();
    $('#admin_contact_name').val(name);
    $('#admin_contact_email').val(email);
    $('#admin_contact_message').val(message);
    $('#new_admin_contact').submit();
  });
</script>
</section>
