
<div class="store_wrapper">
  <section class="fixed full_height">
    <div class="store_block">
      <article>
        <h1>
          WHERE TO BUY?
          <small>哪裡買</small>
        </h1>
        <section class="left">
          <div class="map" id="map">
            <div id="map-canvas"></div>
          </div>
        </section>
        <section class="right">
          <div class="search">
            <section>
              <%= form_tag('/stores/search', :id => 'search_form', method: :post, remote: true) do |f| %>
                <%= select_tag "brand", options_from_collection_for_select(Admin::Brand.where(:is_public => true), "id", "select_name", @brand_id), include_blank: false %>
                <%#= select_tag "product", options_from_collection_for_select(Admin::Product.all, "id", "select_name"), include_blank: false %>
                <%= grouped_collection_select(:product, :id, Admin::Brand.order('name'), :products, "select_name", :id, "select_name") %>
                <%= select_tag "area", options_from_collection_for_select(Admin::Area.all, "id", "select_name"), include_blank: false %>
                <%= submit_tag 'Search 搜尋' %>
              <% end %>
            </section>
          </div>
          <div class="resault">
            <section>
              <header>尚未搜尋</header>
            </section>
            <!-- <section>
              <header>A - ONORE KING 耀金台</header>
              <span>- 台北市承德路一段43號1F</span>
              <span>- (02) 8731 - 2777</span>
            </section>
            <section>
              <header>A - ONORE KING 耀金台</header>
              <span>- 台北市承德路一段43號1F</span>
            </section>
            <section>
              <header>A - ONORE KING 耀金台</header>
              <span>- 台北市承德路一段43號1F</span>
            </section> -->
          </div>
        </section>
      </article>
    </div>
  </section>
</div>

<script language="javascript" type="text/javascript">
  function initMap() {
    var myLatLng = {lat: 24.0711618, lng: 120.6443106};

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: false,
      zoom: 14
    });

    // Create a marker and set its position.
    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      title: 'Hello World!'
    });
  }
</script>

