<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&language=zh-tw"></script>

<script type="text/javascript">

 $(document).ready(function(){
      var responsive2 = function(){
        var window_height = $(window).height();

        if (detectmob()){
        window_height = window.screen.height;
        }

        var window_width = $(window).width();
        if(window_width>1440){
          $('.store_wrapper').height(window_height - 90);
          $('.store_wrapper').css('top',(window_height / 2) - ($(".store_block").height() / 2) - $("#main_header").height());
        }else if(window_width>768){
          $('.store_wrapper').height(window_height - 90);
          $('.store_wrapper').css('margin-top','');

        $('#map-canvas').css({'height':""});
        $('.store_wrapper').css('top',(window_height / 2) - ($(".store_block").height() / 2) - $("#main_header").height());
        }else{
          $('.store_wrapper').css('height','');
          $('.store_wrapper').css('margin-top',-1*window_height+50+60);

          var map_width = $('#map-canvas').width();
        $('#map-canvas').css({'height':map_width+'px'});
        $('.store_wrapper').css('top',"");
        }
      };
      responsive2();
      $(window).resize(function(){
        responsive2();
      });
  });
</script>

<section id="content">

  <div class="wrapper1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Where To Buy?</h2>
          </div>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="grid_1"></div>
        <div class="grid_5">
          <section class="left">
            <div class="map">
              <div id="map-canvas" style="width:100%;height:400px;">

              </div>
            </div>
          </section>
        </div>

        <div class="grid_5">
          <form id="contact-form">
            <div class="contact-form-loader search">
              <section class="right">
                <%= form_tag('/stores/search', :id => 'search_form', method: :post, remote: true) do |f| %>
                  <label class="map_w wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <!-- <input type="text" name="name" placeholder="Name*:" data-constraints="@Required @JustLetters"/>
                    <span class="empty-message">*This field is required.</span> -->
                    <%= select_tag "brand", options_from_collection_for_select(Admin::Brand.where(:is_public => true), "id", "select_name", @brand_id), include_blank: false%>
                  </label>
                  <label class="map_w wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <!-- <input type="text" name="email" placeholder="Email*:" value=""
                           data-constraints="@Required @Email"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid email.</span> -->
                    <%= grouped_collection_select( :product, :id, Admin::Brand.order('name'), :products, "select_name", :id, "select_name" ) %>
                  </label>
                  <label class="map_w wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <!-- <input type="text" name="phone" placeholder="Phone:" value=""
                           data-constraints="@JustNumbers"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid phone.</span> -->
                    <%= select_tag "area", options_from_collection_for_select(Admin::Area.all, "id", "select_name"), include_blank: false %>
                  </label>

<!--               <div class="row">
                <div class="grid_6"></div>
                <div class="grid_5">
                  <label class="message wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <textarea name="message" placeholder="Message:"
                              data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*The message is too short.</span>
                  </label>
                </div>
              </div> -->
              <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->

                  <div class="contact-form-buttons">
              <!-- <a href="#" data-type="submit" class="btn-filled wow fadeIn" data-wow-duration="1s"
                 data-wow-delay="0.5s">Send</a> -->
                    <%= submit_tag 'Search 搜尋', class: "btn-filled wow fadeIn" %>
                  </div>
                <% end %>

                <br>

                <div class="resault">
                  <section>
                    <header>尚未搜尋</header>
                  </section>
                </div>
              </section>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  (function() {
    jQuery(function() {
      var Brand, options, products;
      products = $('#product_id').html();
      Brand = $('#brand :selected').text();
      options = $(products).filter("optgroup[label='" + Brand + "']").html();
      if (options) {
        $('#product_id').html(options);
      } else {
        $('#product_id').empty();
      }
      return $('#brand').change(function() {
        Brand = $('#brand :selected').text();
        options = $(products).filter("optgroup[label='" + Brand + "']").html();
        if (options) {
          return $('#product_id').html(options);
        } else {
          return $('#product_id').empty();
        }
      });
    });

  }).call(this);

</script>

<!-- google map -->
<script>

  // var point = [[25.048215, 121.517123],[25.050401, 121.519200]];
  var point = [];
  var default_center_x = 25.048215;
  var default_center_y = 121.517123;
  function initialize(center_x, center_y, map_point) {
    var geocoder;
    geocoder = new google.maps.Geocoder();
    var mapOptions = {
      zoom: 11,
      center: new google.maps.LatLng(center_x, center_y)
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
      if (map_point.length > 0) {
      set_marker(map,map_point);
    }
  }

  function set_marker(map, map_point) {
    for (i = 0; i < map_point.length; i++){
      new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(map_point[i][0], map_point[i][1]),
        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + String.fromCharCode(65 + i) + '|FF0000|000000'
      });
    }
  }

  function point_to_map(x, y, map_point) {
    google.maps.event.addDomListener(window, 'load', initialize(x, y, map_point));
  }
  google.maps.event.addDomListener(window, 'load', initialize(default_center_x, default_center_y, point));
</script>


<!-- search resault -->
<script type="text/javascript">
  $(document).ready(function(){
    $('#search_form').on('ajax:success',function(e, data, status, xhr){
      // $('#search_form').text('Done.');
      $(".resault").html("");

      var tmpPoint = [];
      var centerPoint_x;
      var centerPoint_y;
      for (i=0;i< data.length;i++){
        var tmpStr = "";
        if (data[i]["name"] != "" && data[i]["address"] != "") {
          tmpStr = "<section>";
          tmpStr = tmpStr + "<header>"+ String.fromCharCode(65 + i) + ". "  + data[i]["name"] + "</header>";
      tmpStr = tmpStr +"<span>- " + data[i]["address"] + "</span>"
          if (data[i]["phone"] != "") {
            tmpStr = tmpStr +"<span>- <a href='tel:" + data[i]["phone"] + "'>" + data[i]["phone"] + "<a></span>"
          }
          tmpStr = tmpStr + "</section>";
          $( ".resault" ).append( tmpStr );

          var twoPoint = [[data[i]["google_map_x"]],[data[i]["google_map_y"]]];
          tmpPoint.push(twoPoint);

          centerPoint_x = data[i]["area"]["google_map_x"];
          centerPoint_y = data[i]["area"]["google_map_y"];
        }
      }

      point_to_map(centerPoint_x, centerPoint_y, tmpPoint);
    }).on('ajax:error',function(e, xhr, status, error){
      var tmpStr = "<section><header>未搜尋到任何結果</header></section>";
      $( ".resault" ).html( tmpStr );
      point_to_map(default_center_x, default_center_y, point);
    });
  });
</script>

<!-- click search -->
<% if @product_id.present? %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#brand').val("<%= @brand_id %>");
      $('#product_id').val("<%= @product_id %>");
      $("#search_form").submit();
    });
  </script>
<% end %>
