<p id="notice"><%= notice %></p>

<p>
  <strong>Home title:</strong>
  <%= @admin_og_main_page.home_title %>
</p>

<p>
  <strong>Home description:</strong>
  <%= @admin_og_main_page.home_description %>
</p>

<p>
  <strong>Home image:</strong>
  <%= @admin_og_main_page.home_image %>
</p>

<p>
  <strong>About title:</strong>
  <%= @admin_og_main_page.about_title %>
</p>

<p>
  <strong>About description:</strong>
  <%= @admin_og_main_page.about_description %>
</p>

<p>
  <strong>About image:</strong>
  <%= @admin_og_main_page.about_image %>
</p>

<p>
  <strong>Contact title:</strong>
  <%= @admin_og_main_page.contact_title %>
</p>

<p>
  <strong>Contact description:</strong>
  <%= @admin_og_main_page.contact_description %>
</p>

<p>
  <strong>Contact image:</strong>
  <%= @admin_og_main_page.contact_image %>
</p>

<p>
  <strong>Store title:</strong>
  <%= @admin_og_main_page.store_title %>
</p>

<p>
  <strong>Store description:</strong>
  <%= @admin_og_main_page.store_description %>
</p>

<p>
  <strong>Store image:</strong>
  <%= @admin_og_main_page.store_image %>
</p>

<p>
  <strong>News title:</strong>
  <%= @admin_og_main_page.news_title %>
</p>

<p>
  <strong>News description:</strong>
  <%= @admin_og_main_page.news_description %>
</p>

<p>
  <strong>News image:</strong>
  <%= @admin_og_main_page.news_image %>
</p>

<p>
  <strong>Brand title:</strong>
  <%= @admin_og_main_page.brand_title %>
</p>

<p>
  <strong>Brand description:</strong>
  <%= @admin_og_main_page.brand_description %>
</p>

<p>
  <strong>Brand image:</strong>
  <%= @admin_og_main_page.brand_image %>
</p>

<%= link_to 'Edit', edit_admin_og_main_page_path(@admin_og_main_page) %> |
<%= link_to 'Back', admin_og_main_pages_path %>
