<%= form_for(@admin_story) do |f| %>
  <% if @admin_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_story.errors.count, "error") %> prohibited this admin_story from being saved:</h2>

      <ul>
      <% @admin_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label '大標題' %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label '小標題' %><br>
    <%= f.text_field :title2, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label '內容' %><br>
    <%= f.text_area :content, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label '按鈕文字' %><br>
    <%= f.text_field :button_text, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label '按鈕連結' %><br>
    <%= f.text_field :link_url, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit '更新故事', :class => "btn btn-primary btn-full" %>
  </div>
<% end %>
