<style type="text/css">

.brand_ico{
  width: 75%;
  border-radius: 500px;
}

</style>

<script>
// $(document).ready(function () {
//   if ($('html').hasClass('desktop')) {
//     new WOW().init();
//   }
// });
</script>
 <script>
    $(document).ready(function () {
      $(function () {
        // init Isotope
        var $container = $('.isotope').isotope({
          itemSelector: '.element-item',
          layoutMode: 'fitRows'
        });
        // filter functions
        var filterFns = {
          // show if number is greater than 50
          numberGreaterThan50: function () {
            var number = $(this).find('.number').text();
            return parseInt(number, 10) > 50;
          },
          // show if name ends with -ium
          ium: function () {
            var name = $(this).find('.name').text();
            return name.match(/ium$/);
          }
        };
        // bind filter button click
        $('#filters').on('click', 'button', function () {
          var filterValue = $(this).attr('data-filter');
          // use filterFn if matches value
          filterValue = filterFns[ filterValue ] || filterValue;
          $container.isotope({ filter: filterValue });
        });
        // change is-checked class on buttons
        $('.button-group').each(function (i, buttonGroup) {
          var $buttonGroup = $(buttonGroup);
          $buttonGroup.on('click', 'button', function () {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $(this).addClass('is-checked');
          });
        });
      });
    });
  </script>


<section id="content" class="common">
<div class="wrapper5">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
          <h2>Inspections</h2>
          <p style="color:#4d4d4d; font-size: 35px;">Food of Conscience</p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="grid_12">
        <div id="filters" class="button-group">
          <button class="button is-checked wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" data-filter="*">show all</button>
          <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-filter=".first">Egg</button>
          <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-filter=".second">Essence of Chicken</button>
          <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-filter=".third">Chicken</button>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="isotope wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="grid_12">
          <div class="row">
            <div class="grid_6 element-item first" data-category="first">
              <div class="box7">
                <div class="black_box_holder" id="black_box_holder1">
                  <p class="closeButton" id="closeButton1" style="z-index: 5;">×</p>
                  <div class="black_box" style="position: absolute;top:5%;left:5%;width:90%;height:90%;">
                    <%= image_tag 'page1_img1-.png', :class=>'brand_ico',style:"width:100%;height:100%;" %>
                  </div>
                </div>
                <div style="text-align: center;">
                  <%= image_tag('cargill-01.png', :class=>'brand_ico') %>
                </div>
                <br>
                <a class="btn-black wow fadeIn readmore" id="readmore1" data-wow-duration="1s" data-wow-delay="0.4s" href="#">Read More</a>
              </div>
            </div>
            <div class="grid_6 element-item first" data-category="first">
              <div class="box7">
                <div class="black_box_holder" id="black_box_holder2">
                  <p class="closeButton" id="closeButton2" style="z-index: 5;">×</p>
                  <div class="black_box" style="position: absolute;top:5%;left:5%;width:90%;height:90%;">
                    <%= image_tag 'cargill-01.png', :class=>'brand_ico',style:"width:100%;height:100%;" %>
                  </div>
                </div>
                <div style="text-align: center;">
                  <%= image_tag('NAIF.png', :class=>'brand_ico') %>
                </div>
                <br>
                <a class="btn-black wow fadeIn readmore" id="readmore2" data-wow-duration="1s" data-wow-delay="0.4s" href="#">Read More</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="grid_6 element-item first" data-category="first">
              <div class="box7">
                <div class="black_box_holder" id="black_box_holder3">
                  <p class="closeButton" id="closeButton3">×</p>
                  <div class="black_box">
                    <%= image_tag 'cargill-01.png', :class=>'brand_ico',style:"width:100%;height:100%;" %>
                  </div>
                </div>
                <div style="text-align: center;">
                  <%= image_tag('SGS-01.png', :class=>'brand_ico') %>
                </div>
                <br>
                <a class="btn-black wow fadeIn readmore" id="readmore3" data-wow-duration="1s" data-wow-delay="0.4s" href="#">Read More</a>
              </div>
            </div>

            <div class="grid_6 element-item first" data-category="first">
              <div class="box7">
                <div class="black_box_holder" id="black_box_holder4">
                  <p class="closeButton" id="closeButton4">×</p>
                  <div class="black_box">
                    <%= image_tag 'cargill-01.png', :class=>'brand_ico',style:"width:100%;height:100%;" %>
                  </div>
                </div>
                <div style="text-align: center;">
                  <%= image_tag('TUV-01.png', :class=>'brand_ico') %>
                </div>
                <br>
                <a class="btn-black wow fadeIn readmore" id="readmore4" data-wow-duration="1s" data-wow-delay="0.4s" href="#">Read More</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</section>

<script>
  $('.readmore').click(function(){
    $('#black_box_holder1').removeClass('active');
    $('#black_box_holder2').removeClass('active');
    $('#black_box_holder3').removeClass('active');
    $('#black_box_holder4').removeClass('active');
    $('#black_box_holder5').removeClass('active');
    $('#black_box_holder6').removeClass('active');
    if ($(this).attr('id') == "readmore1"){
      $('#black_box_holder1').addClass('active');
    }
    if ($(this).attr('id') == "readmore2"){
      $('#black_box_holder2').addClass('active');
    }
    if ($(this).attr('id') == "readmore3"){
      $('#black_box_holder3').addClass('active');
    }
    if ($(this).attr('id') == "readmore4"){
      $('#black_box_holder4').addClass('active');
    }
    if ($(this).attr('id') == "readmore5"){
      $('#black_box_holder5').addClass('active');
    }
    if ($(this).attr('id') == "readmore6"){
      $('#black_box_holder6').addClass('active');
    }
  })
  $('.closeButton').click(function(){
    if($(this).attr('id') == 'closeButton1'){
      $('#black_box_holder1').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton2'){
      $('#black_box_holder2').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton3'){
      $('#black_box_holder3').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton4'){
      $('#black_box_holder4').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton5'){
      $('#black_box_holder5').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton6'){
      $('#black_box_holder6').removeClass('active');
    }
  })
</script>
