<style type="text/css">

.brand_ico{
  width: 75%;
  border-radius: 500px;
}

</style>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

<script>
// $(document).ready(function () {
//   if ($('html').hasClass('desktop')) {
//     new WOW().init();
//   }
// });
</script>
 <script>
    $(document).ready(function () {
      $(function () {
        // init Isotope
        var $container = $('.isotope').isotope({
          itemSelector: '.element-item',
          layoutMode: 'fitRows'
        });
        // filter functions
        var filterFns = {
          // show if number is greater than 50
          numberGreaterThan50: function () {
            var number = $(this).find('.number').text();
            return parseInt(number, 10) > 50;
          },
          // show if name ends with -ium
          ium: function () {
            var name = $(this).find('.name').text();
            return name.match(/ium$/);
          }
        };
        // bind filter button click
        $('#filters').on('click', 'button', function () {
          var filterValue = $(this).attr('data-filter');
          // use filterFn if matches value
          filterValue = filterFns[ filterValue ] || filterValue;
          $container.isotope({ filter: filterValue });
        });
        // change is-checked class on buttons
        $('.button-group').each(function (i, buttonGroup) {
          var $buttonGroup = $(buttonGroup);
          $buttonGroup.on('click', 'button', function () {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $(this).addClass('is-checked');
          });
        });
      });
    });
  </script>

<section id="content" class="common">
<div class="wrapper5">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
          <h2>Inspections</h2>
          <p style="color:#4d4d4d; font-size: 35px;">Food of Conscience</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid_12">
        <div id="filters" class="button-group">
          <button class="button is-checked wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" data-filter="*">show all</button>
          <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-filter=".first" style="text-transform:capitalize">SGS</button>
          <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-filter=".second" style="text-transform:capitalize">NAIF</button>
          <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-filter=".third" style="text-transform:capitalize">TÜV Rheinland</button>
          <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" data-filter=".fourth" style="text-transform:capitalize">Cargill</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="isotope wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="grid_12">
          <div class="row">
            <div class="grid_6 element-item first" data-category="first">
              <div class="box7 inspection_box">
                <div class="black_box_holder inspection_black_box" id="black_box_holder3-1" style="height:125%;">
                  <p class="closeButton" id="closeButton3-1" style="top:30px;right:30px;">×</p>
                  <div class="black_box">
                    <div class="slick_box">
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport1-1.jpg'),'assets/sgsreport1-1.jpg' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport1-2.jpg'),'assets/sgsreport1-2.jpg' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport1-3.jpg'),'assets/sgsreport1-3.jpg' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport1-4.jpg'),'assets/sgsreport1-4.jpg' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport1-5.jpg'),'assets/sgsreport1-5.jpg' , :target =>"_blank" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="black_box_holder inspection_black_box" id="black_box_holder3-2" style="height:125%;">
                  <p class="closeButton" id="closeButton3-2" style="top:30px;right:30px;">×</p>
                  <div class="black_box">
                    <div class="slick_box">
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-1.png'),'assets/sgsreport2-1.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-2.png'),'assets/sgsreport2-2.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-3.png'),'assets/sgsreport2-3.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-4.png'),'assets/sgsreport2-4.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-5.png'),'assets/sgsreport2-5.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-6.png'),'assets/sgsreport2-6.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-7.png'),'assets/sgsreport2-7.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-8.png'),'assets/sgsreport2-8.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport2-9.png'),'assets/sgsreport2-9.png' , :target =>"_blank" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="black_box_holder inspection_black_box" id="black_box_holder3-3" style="height:125%;">
                  <p class="closeButton" id="closeButton3-3" style="top:30px;right:30px;">×</p>
                  <div class="black_box">
                    <div class="slick_box">
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport3-1.png'),'assets/sgsreport3-1.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport3-2.png'),'assets/sgsreport3-2.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport3-3.png'),'assets/sgsreport3-3.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport3-4.png'),'assets/sgsreport3-4.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport3-5.png'),'assets/sgsreport3-5.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport3-6.png'),'assets/sgsreport3-6.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport3-7.png'),'assets/sgsreport3-7.png' , :target =>"_blank" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="black_box_holder inspection_black_box" id="black_box_holder3-4" style="height:125%;">
                  <p class="closeButton" id="closeButton3-4" style="top:30px;right:30px;">×</p>
                  <div class="black_box">
                    <div class="slick_box">
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport4-1.png'),'assets/sgsreport4-1.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport4-2.png'),'assets/sgsreport4-2.png' , :target =>"_blank" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="black_box_holder inspection_black_box" id="black_box_holder3-5" style="height:125%;">
                  <p class="closeButton" id="closeButton3-5" style="top:30px;right:30px;">×</p>
                  <div class="black_box">
                    <div class="slick_box">
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport5-1.png'),'assets/sgsreport5-1.png' , :target =>"_blank" %>
                      </div>
                      <div class="item">
                        <%= link_to (image_tag 'sgsreport5-2.png'),'assets/sgsreport5-2.png' , :target =>"_blank" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="text-align: center;">
                  <%= image_tag('SGS-01.png', :class=>'brand_ico') %>
                </div>
                <br>
                <a class="wow fadeIn readmore inspection_view" id="readmore3-1" data-wow-duration="1s" data-wow-delay="0.4s" href="#">蛋品檢驗單</a>
                <a class="wow fadeIn readmore inspection_view" id="readmore3-2" data-wow-duration="1s" data-wow-delay="0.4s" href="#">匡和蛋盒原料安全檢驗報告</a>
                <a class="wow fadeIn readmore inspection_view" id="readmore3-3" data-wow-duration="1s" data-wow-delay="0.4s" href="#">蛋品檢驗</a>
                <a class="wow fadeIn readmore inspection_view" id="readmore3-4" data-wow-duration="1s" data-wow-delay="0.4s" href="#">蛋檢驗報告A</a>
                <a class="wow fadeIn readmore inspection_view" id="readmore3-5" data-wow-duration="1s" data-wow-delay="0.4s" href="#">蛋檢驗報告B</a>
              </div>
            </div>
            <div class="grid_6 element-item second" data-category="second">
              <div class="box7 inspection_box">
                <div class="black_box_holder inspection_black_box" id="black_box_holder2-1">
                  <p class="closeButton" id="closeButton2-1">×</p>
                  <div class="black_box">
                    <%= link_to (image_tag 'NAIFreport1.jpg'),'assets/NAIFreport1.jpg' , :target =>"_blank" %>
                  </div>
                </div>
                <div class="black_box_holder inspection_black_box" id="black_box_holder2-2">
                  <p class="closeButton" id="closeButton2-2">×</p>
                  <div class="black_box">
                    <%= link_to (image_tag 'NAIFreport2.jpg'),'assets/NAIFreport2.jpg' , :target =>"_blank" %>
                  </div>
                </div>
                <div style="text-align: center;">
                  <%= image_tag('NAIF.png', :class=>'brand_ico') %>
                </div>
                <br>
                <a class="btn-black wow fadeIn readmore inspection_view" id="readmore2-1" data-wow-duration="1s" data-wow-delay="0.4s" href="#">蛋包裝檢驗</a>
                <a class="btn-black wow fadeIn readmore inspection_view" id="readmore2-2" data-wow-duration="1s" data-wow-delay="0.4s" href="#">雞肝檢驗</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="grid_6 element-item third" data-category="third">
              <div class="box7 inspection_box">
                <div class="black_box_holder inspection_black_box" id="black_box_holder4">
                  <p class="closeButton" id="closeButton4">×</p>
                  <div class="black_box">
                    <%= link_to (image_tag 'tuvreport.jpg'),'assets/tuvreport.jpg' , :target =>"_blank" %>
                  </div>
                </div>
                <div style="text-align: center;">
                  <%= image_tag('TUV-01.png', :class=>'brand_ico') %>
                </div>
                <br>
                <a class="btn-black wow fadeIn readmore inspection_view" id="readmore4" data-wow-duration="1s" data-wow-delay="0.4s" href="#">檢測報告</a>
              </div>
            </div>
            <div class="grid_6 element-item fourth" data-category="fourth">
              <div class="box7 inspection_box">
                <div class="black_box_holder inspection_black_box" id="black_box_holder1">
                  <p class="closeButton" id="closeButton1">×</p>
                  <div class="black_box">
                    <%= link_to (image_tag 'cargillreport.jpg'),'assets/cargillreport.jpg' , :target =>"_blank" %>
                  </div>
                </div>
                <div style="text-align: center;">
                  <%= image_tag('cargill-01.png', :class=>'brand_ico') %>
                </div>
                <br>
                <a class="btn-black wow fadeIn readmore inspection_view" id="readmore1" data-wow-duration="1s" data-wow-delay="0.4s" href="#">飼料無汙染切結書</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</section>

<script>
  $('.readmore').click(function(){
    $('.black_box_holder').removeClass('active');
    if ($(this).attr('id') == "readmore1"){
      $('#black_box_holder1').addClass('active');
    }
    if ($(this).attr('id') == "readmore2-1"){
      $('#black_box_holder2-1').addClass('active');
    }
    if ($(this).attr('id') == "readmore2-2"){
      $('#black_box_holder2-2').addClass('active');
    }
    if ($(this).attr('id') == "readmore3-1"){
      $('#black_box_holder3-1').addClass('active');
    }
    if ($(this).attr('id') == "readmore3-2"){
      $('#black_box_holder3-2').addClass('active');
    }
    if ($(this).attr('id') == "readmore3-3"){
      $('#black_box_holder3-3').addClass('active');
    }
    if ($(this).attr('id') == "readmore3-4"){
      $('#black_box_holder3-4').addClass('active');
    }
    if ($(this).attr('id') == "readmore3-5"){
      $('#black_box_holder3-5').addClass('active');
    }
    if ($(this).attr('id') == "readmore4"){
      $('#black_box_holder4').addClass('active');
    }
  })
  $('.closeButton').click(function(){
    if($(this).attr('id') == 'closeButton1'){
      $('#black_box_holder1').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton2-1'){
      $('#black_box_holder2-1').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton2-2'){
      $('#black_box_holder2-2').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton3-1'){
      $('#black_box_holder3-1').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton3-2'){
      $('#black_box_holder3-2').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton3-3'){
      $('#black_box_holder3-3').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton3-4'){
      $('#black_box_holder3-4').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton3-5'){
      $('#black_box_holder3-5').removeClass('active');
    }
    if($(this).attr('id') == 'closeButton4'){
      $('#black_box_holder4').removeClass('active');
    }
  })

  $('#first').parallax("50%", 0.1);
  $('#second').parallax("50%", 0.2);
  $('#third').parallax("50%", 0.3);
</script>

<script>
  $(document).ready(function(){
    $('.slick_box').slick({
      infinite: true,
      slidesToShow: 1,
   
      //slide animation direction and amount (if set -1 means slder animated from left to right) , the dot will disappear
      // and you should set rtl = true ,too
      slidesToScroll: 1,
   
                 // Enables auto play of slides
      autoplay: false,
   
      // Auto play change interval

      arrows: true,
 
      // prev arrow
      prevArrow: '<button type="button" data-role="none" class="slick-prev">Previous</button>',
       
      // next arrow
       
      nextArrow: '<button type="button" data-role="none" class="slick-next">Next</button>',
    });
  });
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
