<script type="text/javascript">

 $(document).ready(function(){
	  	var responsive2 = function(){
	  		var window_height = $(window).height();
	  		var window_width = $(window).width();
	  		if(window_width>768){
	  			$('.login_wrapper').height(window_height - 90);
	  			$('.login_wrapper').css('margin-top','');
	  		}else{
	  			$('.login_wrapper').css('height','');
	  			$('.login_wrapper').css('margin-top',-1*window_height+50+60);

	  		}
	  	};
	  	responsive2();
	  	$(window).resize(function(){
	  		responsive2();
	  	});
  });
</script>
<div class="home_wrapper">
	<section class='fixed'>
		<%#= render :partial => 'shared/brand_block' %>
	</section>
</div>
<br>
<div class="login_wrapper">
	<section class="fixed full_height">
		<div class="login_block">
			<div class="row">
				<div class="grid_4"></div>

				<article class="grid_5">
					<div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
	          <h3 style="color: #333333"><strong>管理員 - 登入</strong></h3>
	        </div>
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), id: "contact-form") do |f| %>
					  <label class="map_w wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
					  	<%= f.label :email, class: "map_w wow fadeIn" %><br />
						  <%= f.email_field :email, :autofocus => true, type: "text", style: "width: 460px; height: 30px;" %><br />
						</label>
						<br>
						<label class="map_w wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
						  <%= f.label :password %><br />
						  <%= f.password_field :password, type: "text", style: "width: 460px; height: 30px;" %><br />
					  </label>
					  <br>
						<label class="map_w wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
						  <% if devise_mapping.rememberable? -%>
						    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
						  <% end -%>
					  </label>
					  <br>
						<div class="contact-form-buttons">
						  <%= f.submit "Log In", class: "btn-filled wow fadeIn" %>
					  </div>
					<% end %>
				</article>
			</div>
		</div>
	</section>
</div>
<%#= render "devise/shared/links" %>
