<%= form_for(@admin_news) do |f| %>
  <% if @admin_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_news.errors.count, "error") %> prohibited this admin_news from being saved:</h2>

      <ul>
      <% @admin_news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label '標題' %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label '內容' %><br>
    <%= f.cktext_area :content, :ckeditor => {:toolbar => 'mini'} %>
  </div>
  <div class="form-group">
    <%= f.label '主視覺(外層)' %><br>
    <%= image_tag(@admin_news.main_visual.thumb.url) %>
    <%= f.file_field :main_visual %>
  </div>
  <div class="form-group">
    <%= f.label '主視覺2(裡層)' %><br>
    <%= image_tag(@admin_news.main_visual2.thumb.url) %>
    <%= f.file_field :main_visual2 %>
  </div>
  <div class="form-group">
    <%= f.label '新聞日期' %>
    <%= f.date_select :date_of_news %>
  </div>
  <div class="form-group">
    <%= f.label '是否公開' %><br>
    <%= f.check_box :is_public %>
  </div>
    <div class="form-group">
    <%= f.label '顯示訂購表單' %><br>
    <%= f.check_box :is_order_form %>
  </div>
  <div class="actions">
    <%= f.submit '更新新聞', :class => "btn btn-primary btn-full" %>
  </div>
<% end %>
