<style type="text/css">

.brand_ico{
  width: 60%;
  border-radius: 500px;
}

</style>

<script>
$(document).ready(function () {
  $(function () {
        // init Isotope
        var $container = $('.isotope').isotope({
          itemSelector: '.element-item',
          layoutMode: 'fitRows'
        });
        // filter functions
        var filterFns = {
          // show if number is greater than 50
          numberGreaterThan50: function () {
            var number = $(this).find('.number').text();
            return parseInt(number, 10) > 50;
          },
          // show if name ends with -ium
          ium: function () {
            var name = $(this).find('.name').text();
            return name.match(/ium$/);
          }
        };
        // bind filter button click
        $('#filters').on('click', 'button', function () {
          var filterValue = $(this).attr('data-filter');
          // use filterFn if matches value
          filterValue = filterFns[ filterValue ] || filterValue;
          $container.isotope({ filter: filterValue });
        });
        // change is-checked class on buttons
        $('.button-group').each(function (i, buttonGroup) {
          var $buttonGroup = $(buttonGroup);
          $buttonGroup.on('click', 'button', function () {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $(this).addClass('is-checked');
          });
        });
      });
});
</script>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <section id="content" class="common">
      <div class="wrapper5" style="overflow: hidden;">
        <div class="container">
          <div class="row">
            <div class="grid_12">
              <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                <h2 class="en">Our Products</h2>
                <h2 class="zh">產品</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="grid_12">
              <div id="filters" class="button-group en">
                <button class="button is-checked wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" data-filter="*">show all</button>
                <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-filter=".first">Egg</button>
                <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-filter=".second">Chicken</button>
                <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-filter=".third">Essence of Chicken</button>
                <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" data-filter=".forth">Merchandise</button>
              </div>

              <div id="filters" class="button-group zh">
                <button class="button is-checked wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" data-filter="*">顯示全部</button>
                <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-filter=".first">雞蛋</button>
                <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-filter=".second">雞肉</button>
                <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-filter=".third">滴雞精</button>
                <button class="button wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" data-filter=".forth">周邊商品</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="isotope wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <% i = 1 %>
              <% @admin_products.each do |product| %>
              <div class="grid_12">
                <div class="row" style="overflow: hidden;">
                  <div class="grid_6 element-item <%= category(product.price) %>" data-category="<%= category(product.price) %>">
                    <div class="box7 indent">
                      <div class="black_box_holder" id="black_box_holder<%= i %>">
                        <p class="closeButton" id="closeButton<%= i %>">×</p>
                        <div class="black_box <%= "stonetiggeregg" if wordcount(product.title) > 150 %>">
                          <h3><%= product.name %></h3>
                          <br>
                          <p><%= product.title %></p>
                        </div>
                      </div>
                      <div class="egg_pic" style="text-align: center;">
                        <%= image_tag(product.main_visual.url, :class=>'brand_ico') %>
                      </div>
                      <h4>
                        <%= product.name %>
                      </h4>
                      <p style="width:450px;"><%= strip_tags(product.get_short_content).gsub("&nbsp;", "").gsub("&quot;", "").gsub("&amp;", "") %></p>
                      <br>
                      <a class="btn-black wow fadeIn readmore" id="readmore<%= i %>" data-wow-duration="1s" data-wow-delay="0.4s" href="#">Read More</a>
                    </div>
                    <% i += 1 %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>

<script>
$('.readmore').click(function(){
  $(this).parent().find(".black_box_holder").toggleClass('active');
});

$('.closeButton').click(function(){
  $(this).parent().removeClass('active');
});
</script>
