
<script>
$(document).ready(function () {
  $(function () {
        // init Isotope
        var $container = $('.isotope').isotope({
          itemSelector: '.element-item',
          layoutMode: 'fitRows'
        });
        // filter functions
        var filterFns = {
          // show if number is greater than 50
          numberGreaterThan50: function () {
            var number = $(this).find('.number').text();
            return parseInt(number, 10) > 50;
          },
          // show if name ends with -ium
          ium: function () {
            var name = $(this).find('.name').text();
            return name.match(/ium$/);
          }
        };
        // bind filter button click
        $('#filters').on('click', 'button', function () {
          var filterValue = $(this).attr('data-filter');
          // use filterFn if matches value
          filterValue = filterFns[ filterValue ] || filterValue;
          $container.isotope({ filter: filterValue });
        });
        // change is-checked class on buttons
        $('.button-group').each(function (i, buttonGroup) {
          var $buttonGroup = $(buttonGroup);
          $buttonGroup.on('click', 'button', function () {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $(this).addClass('is-checked');
          });
        });
      });
});
</script>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <section id="content" class="common">
      <div class="wrapper5" style="overflow: hidden;">
        <div class="container">
          <div class="row">
            <div class="grid_12">
              <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                <h2 class="en"><%= @admin_product.url_name %></h2>
                <h2 class="zh"><%= @admin_product.name %></h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="grid_12">
              <div id="filters" class="button-group">
                <button class="button is-checked wow fadeIn en" data-wow-duration="1s" data-wow-delay="0.1s" data-filter="*">show all</button>
                <button class="button is-checked wow fadeIn zh" data-wow-duration="1s" data-wow-delay="0.1s" data-filter="*">顯示全部</button>
              	<% @admin_product.subproducts.each do |subproduct| %>
	                <button class="button wow fadeIn en" data-wow-duration="1s" data-wow-delay="0.1s" data-filter=".<%= subproduct.category_en %>"><%= subproduct.category_en %></button>
	                <button class="button wow fadeIn zh" data-wow-duration="1s" data-wow-delay="0.1s" data-filter=".<%= subproduct.category %>"><%= subproduct.category %></button>
	              <% end %>
              </div>
            </div>
          </div>
          <div class="row zh">
            <div class="isotope wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <% @admin_product.subproducts.each do |subproduct| %>
                <div class="grid_12">
                  <div class="row" style="overflow: hidden;">
                    <% subproduct.media.each do |medium| %>
                      <div class="grid_6 element-item <%= subproduct.category %>" data-category="<%= subproduct.category %>">
                        <div class="box7 indent ">
                          <div class="egg_pic" style="text-align: center;">
                            <%= image_tag(medium.file_name.url, class: 'brand_ico') %>
                          </div>
                          <h4 class="center zh">
                            <%= subproduct.title %>
                          </h4>
                          <h4 class="center en">
                            <%= subproduct.title_en %>
                          </h4>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="row en">
            <div class="isotope wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <% @admin_product.subproducts.each do |subproduct| %>
                <div class="grid_12">
                  <div class="row" style="overflow: hidden;">
                    <% subproduct.media.each do |medium| %>
                      <div class="grid_6 element-item <%= subproduct.category_en %>" data-category="<%= subproduct.category_en %>">
                        <div class="box7 indent">
                          <div class="egg_pic" style="text-align: center;">
                            <%= image_tag(medium.file_name.url, class: 'brand_ico') %>
                          </div>
                          <h4 class="center">
                            <%= subproduct.category_en %>
                          </h4>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </section>

    </div>
  </div>
</section>
