<%= form_for(@admin_image) do |f| %>
  <% if @admin_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_image.errors.count, "error") %> prohibited this admin_image from being saved:</h2>

      <ul>
      <% @admin_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= f.label '請上傳圖片尺寸: 1280x853 ' %><br>
    <%= image_tag(@admin_image.file.thumb.url) %><br>
    <%= f.file_field :file  %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
