<section id="content" class="common">
  <div class="wrapper6">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Latest News</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid_12">
          <div class="post1">
            <div class="image-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <%= image_tag("page4_img1.png") %>
              <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3>
                  <strong><a href="#">Pellentesque sed dolor</a></strong>
                </h3>
                <time datetime="2014-01-01">25 july, 2014</time>
              </div>
            </div>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Quisque et pellentesque eros, vel tempor elit. Vestibulum mauris dui, efficitur in consectetur porta, malesuada ut erat. Nam imperdi et urna in eleifend auctor. Vivamus semper efficitur quam, a scelerisque lorem rutrum nec. Nulla cursu</p>
          </div>

          <div class="post1">
            <div class="image-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <%= image_tag("page4_img2.png") %>
              <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3>
                  <strong><a href="#">Aliquam congue fermentum nisl</a></strong>
                </h3>
                <time datetime="2014-01-01">25 july, 2014</time>
              </div>
            </div>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Nulla cursus risus non tellus mollis pharetra. Ut varius tincidunt ex, eu tincidunt turpis varius vel. Pellentesque ut efficitur risus. Cras aliq uet tincidunt odio, venenatis tempus elit. Donec euismod enim ac sodales pharetra. Nam suscipit purus faucib</p>
          </div>

          <div class="post1">
            <div class="image-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <%= image_tag("page4_img3.png") %>
              <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3>
                  <strong><a href="#">Mauris accumsan nulla</a></strong>
                </h3>
                <time datetime="2014-01-01">25 july, 2014</time>
              </div>
            </div>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Erisus non tellus mollis pharetra. Ut varius tincidunt ex, eu tincidunt turpis varius vel. Pellentesque ut efficitur risus. Cras aliquet tincidunt odio, vene natis tempus elit. Donec euismod enim ac sodales pharetra. Nam suscipit purus faucibus sagittis iaculis. In ullamcor</p>
          </div>

          <div class="post1">
            <div class="image-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <%= image_tag("page4_img4.png") %>
              <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3>
                  <strong><a href="#">Sedin lacus ut enim adipi</a></strong>
                </h3>
                <time datetime="2014-01-01">25 july, 2014</time>
              </div>
            </div>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Donec euismod enim ac sodales pharetra. Nam suscipit purus faucibus sagittis iaculis. In ullamcorper at purus nec bibendum. Integer feugiat, diam vitae lobortis varius, enim enim tincidunt velit, ut pharetra urna odio at elit. Nullam a orci a sem</p>
          </div>

          <div class="post1">
            <div class="image-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <%= image_tag("page4_img5.png") %>
              <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3>
                  <strong><a href="#">Etiam cursus leo psum</a></strong>
                </h3>
                <time datetime="2014-01-01">25 july, 2014</time>
              </div>
            </div>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Vestibulum sed nisl justo. Quisque nec convallis elit. Aliquam hendrerit purus diam. Maecenas tincidunt at magna eget iaculis. Donec ult ricies ante magna, a placerat ipsum volutpat vitae. Morbi porta accumsan sagittis. Mauris odio ipsum, tincidunt ut dui</p>
          </div>

          <div class="post1">
            <div class="image-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <%= image_tag("page4_img6.png") %>
              <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3>
                  <strong><a href="#">Nulla facilisii primis neclaoreet</a></strong>
                </h3>
                <time datetime="2014-01-01">25 july, 2014</time>
              </div>
            </div>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Da placerat ipsum volutpat vitae. Morbi porta accumsan sagittis. Mauris odio ipsum, tincidunt ut dui eu, molestie tincidunt urna. Mauris sed condi mentum risus. Maecenas bibendum et dolor nec facilisis. Proin quis ultrices lectus. Morbi eu iaculis felis, sit amet orna</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
