
<style type="text/css">
.service_row h5{
  font-size: 1.8em;
  color:#343434;
  padding-top: 6px;
  padding-bottom: 9px;
}
.brand_ico{
  width: 75%;
  border-radius: 500px;
}
.commingsoon{
  opacity: 0.3;
}
.shadow_text{
  text-shadow: 4px 3px 17px #000000;
}
.home_contect_row a{
  text-shadow: 4px 3px 2px #000000;
}
.home_contect_row p{
  text-shadow: 2px 2px 1px #000000;
}
</style>


<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
  <div class="wrapper1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <span class="zh"><h2>我們的服務！</h2></span>
            <span class="en"><h2>Our Services!</h2></span>
          </div>
        </div>
      </div>
      <div class="row service_row">
        <div class="grid_4">
          <div class="box1">
            <img class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" src="<%= asset_path('page1_img2.png') %>" alt=""/>
            <span class="zh"><p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <h5>農業科技</h5>
              無抗生素/無藥物健康養殖系統(Antibiotic-Free Farming System)，不僅為現行全球唯一真正從飼養到產出都不使用抗生素及藥物的飼育系統，除了一般防疫用不會產生二次物染的疫苗外，即便爆發全球養雞業最嚴重與常見的球蟲症(一種原蟲感染、整體死亡率20-30%或更多的疾病...
            </p></span>
            <span class="en"><p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <h5>Agricultural Technology</h5>
              Antibiotic-Free Farming System is not only the world's only authenticate system for the current production from the feeder to the absence of antibiotics and drugs, in addition to the general epidemic with no secondary was dyed vaccine in addition, even the most serious outbreak of the global poultry industry and common disease coccidia (protozoan infection, the overall mortality rate of 20-30% or more of the diseases ...
            </p></span>
          </div>
        </div>

        <div class="grid_4">
          <div class="box1">
            <img class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" src="<%= asset_path('page1_img3.png') %>" alt=""/>
            <span class="zh"><p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <h5>銷售通路</h5>
              興聯農業以無抗生素健康養殖系統技術，帶給人們最健康的食品，以及完善的養殖方式，用各個品牌打造不同通路，增加品牌多元化。興聯農業食品不單只是健康與美味，更讓消費者體驗不一樣的幸福感。
            </p></span>
            <span class="en"><p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <h5>Path</h5>
              Opul Union applys antibiotic-free healthy farming system technology, to bring one of the most healthful foods, and improve farming methods, each with different branding path and increase brand diversification. Xinglian agri-food is not only healthy and delicious, leaving consumers to experience a different sense of happiness.
            </p></span>
          </div>
        </div>

        <div class="grid_4">
          <div class="box1">
            <img class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" src="<%= asset_path('page1_img4.png') %>" alt=""/>
            <span class="zh"><p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
              <h5>公益扶弱</h5>
              公益扶弱生態農業輔導計畫 DEAS，企業心生態農場 Eco-Farm Enterprises」，社會公益產業化『好心雞』『自足農場』….在農村和社會弱勢中生產乾淨食物與建立無污染環境，讓您我與家人共享『乾淨的吃』、『生活在好的生態環境』和『無負擔的休閒生活』。
            </p></span>
            <span class="en"><p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
              <h5>Public Disadvantaged</h5>
              Vinyl ugh typewriter, dreamcatcher you probably haven't heard of them lumbersexual try-hard cronut normcore. Freegan twee post-ironic letterpress, lomo messenger bag polaroid pinterest. Slow-carb bushwick ethical green juice ennui.
            </p></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner2 banner2__inset1 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <div class="slogan en">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Only Natural</h6>
            <br>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">Not just only a slogan but also an environmental protector in practice</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
            <a class="btn-big wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="/abouts/">Read More</a>
          </div>
          <div class="slogan zh">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">純天然</h6>
            <br>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">不只是個口號也是環境保護實踐者。</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">道德良知是本企業的根本。優秀的農產品是我們的核心。品管是我們服務的根基。我們的動機是實驗精神與社會服務貢獻。</p>
            <a class="btn-big wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="/abouts/">瞭解更多</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper2">
    <div class="container">

      <div class="row">
        <!-- 第一排icon -->
        <% @admin_products.each do |product| %>
          <div class="grid_4">
            <div class="box2">
              <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="1">
                <%= image_tag(product.main_visual.url, :class=>'brand_ico') %>
              </div>
              <!-- <i class="fa fa-pagelines wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i> -->
              <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <a href="/products/"><strong><%= product.name %></strong></a>
              </h3>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"><%= strip_tags(product.get_short_content).gsub("&nbsp;", "").gsub("&quot;", "").gsub("&amp;", "") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="banner2 banner2__inset2 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <div class="slogan en">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Our Production</h6>
            <br>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">on serve of your needs</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">We fundamentally ensure the health of chickens as well as the food safety of people by marketing our own productions and constructing the concept of a happy farm.</p>
            <a class="btn-big wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="/products">Read More</a>
          </div>
          <div class="slogan zh">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">我們的產品</h6>
            <br>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">直通您的需求</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">我們藉由自產自銷與創造一個快樂農場來從根本上地保證雞隻健康與食安。</p>
            <a class="btn-big wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="/products">瞭解更多</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <blockquote class="blockquote1">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <i class="fa fa-quote-left wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i>
          <span class="en"><cite class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><h2 style="color: #d9d9d9 !important;">Farm To Table</h2></cite>
          <br>
          <cite class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">In order to have humanities and nature returned to the most primitive balance also to continue the dedication with food safety and ecological environment, we are hoping to conserve this beautiful land of Taiwan by the implementation of quality agricultural products, and to ensure the sustainable development of the local agriculture.</cite>
          <a class="by wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="#">- Opul Union / CEO Liu</a></span>
          <span class="zh"><cite class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><h2 style="color: #d9d9d9 !important;">農場直送</h2></cite>
          <br>
          <cite class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">為了讓人文和自然環境恢復到最原始的平衡，以及繼續奉獻於食品安全和生態環境，我們希望通過優質農產品實踐保護美麗的台灣土地，並確保可持續發展在地農業。</cite>
          <a class="by wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="#">- 興聯農業 / 劉執行長</a></span>
        </div>
      </div>
    </div>
  </blockquote>
  <div class="wrapper3">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="en">Latest News</h2>
            <h2 class="zh">最新消息</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid_12">
          <% @admin_news.each do |news| %>
            <div class="post1">
              <div class="image-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                <%= image_tag(news.main_visual.url) %>
                <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <h3>
                    <strong><%= link_to "#{news.title}", news.news_link, target: "_blank" %></strong>
                  </h3>
                  <time datetime="2014-01-01"><%= news.date_of_news.to_formatted_s(:long) %></time>
                </div>
              </div>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"><%= strip_tags(news.get_long_content).gsub("&nbsp;", "").gsub("&quot;", "").gsub("&amp;", "") %></p>
            </div>
          <% end %>
          <div class="button-wrapper1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <a class="btn-default" href="/news/">See All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper4">
    <div class="container">
      <div class="row">
        <div class="grid_6">
          <div class="box3">
            <span class="en">
              <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Did you Know?<br><strong>What are food companies doing?</strong></h3>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">A number of major global food companies, including McDonald’s, Tyson and Walmart, have recently taken action, announcing policies to end the use of antibiotics important to human health in food producing animals. However, all three will continue to allow the use of such antibiotics if prescribed by a veterinary official, which is likely to diminish the impact of the change.</p>
              <br>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              The moves by US-based food companies has come as officials there issued a flurry of initiatives to try to show leadership on the issue, including directing federal departments and agencies to only buy meat raised with “responsible antibiotic use”.</p>
            </span>

            <span class="zh">
              <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">您知道嗎？<br><strong>食品企業在做什麼？</strong></h3>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">許多全球主要的食品企業，包括麥當勞，泰森和沃爾瑪，最近已經採取行動，宣布停止施加抗生素在食用動物上的政策在對人體健康非常重要。然而，如果任一獸醫官方認可通過，這三個企業將繼續允許使用這種抗生素，這很可能削弱此規定所帶來的影響。</p>
              <br>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              而美國食品公司的舉動，已經為當地官員發出各種舉措，試圖在這個問題上成為領頭羊，其中包括要求聯邦部門和機構要買就買施打“合格驗證抗生素”的肉。</p>
            </span>
          </div>
        </div>
        <div class="grid_6">
          <div class="box3">
            <span class="en">
              <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">The <strong>5</strong> insistence</h3>
              <ul class="list1">
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="/inspections/">No cage feeding</a></li>
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"><a href="/inspections/">Without antibiotics</a></li>
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"><a href="/inspections/">No animal fat</a></li>
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"><a href="/inspections/">No animal protein</a></li>
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"><a href="/inspections/">No synthetic colors</a></li>
              </ul>
            </span>

            <span class="zh">
              <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">五大堅持</h3>
              <ul class="list1">
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="/inspections/">無籠飼</a></li>
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"><a href="/inspections/">無抗生素</a></li>
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"><a href="/inspections/">無動物油脂</a></li>
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"><a href="/inspections/">無動物蛋白</a></li>
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"><a href="/inspections/">無合成色素</a></li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner3 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <span class="zh"><h2 class='shadow_text'>招兵買馬</h2></span>
            <span class="en"><h2 class='shadow_text'>Recruit & Join Us</h2></span>
          </div>
        </div>
      </div>
      <div class="row home_contect_row">
        <div class="grid_4">
          <div class="box4">
            <img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" src="<%= asset_path('r3.png') %>" alt=""/>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <span class="zh"><a href="/contacts">經銷通路招募</a></span>
              <span class="en"><a href="/contacts">Distribution</a></span>
            </h3>
            <span class="zh">
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">經銷通路招募 / 尋新合作夥伴，讓美好的食材與健康分享給大家，更為孩子爭取一份乾淨食物與一個永續的綠色地球。</p>
            </span>
            <span class="en">
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Distribution Channels Recruitment / We are seeking new partners to share the good ingredients and healthy life for everyone and to provide our children clean green food and a sustainable planet.</p>
            </span>
          </div>
        </div>

        <div class="grid_4">
          <div class="box4">
            <img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" src="<%= asset_path('r2.png') %>" alt=""/>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <span class="zh"><a href="/contacts">廠商招募</a></span>
              <span class="en"><a href="/contacts">Recruitment firms</a></span>
            </h3>
            <span class="zh">
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">廠商招募 / 同業異業合作，為農業科技在台灣更進一步成長，真心的歡迎您加入。</p>
            </span>
            <span class="en">
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Vendors Recruitment / cross-sector cooperation inside and outside industry, in order to further the growth of agricultural science and technology in Taiwan. We sincerely invite you to join us.</p>
            </span>
          </div>
        </div>

        <div class="grid_4">
          <div class="box4">
            <img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" src="<%= asset_path('r1.png') %>" alt=""/>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <span class="zh"><a href="/contacts">人才招募</a></span>
              <span class="en"><a href="/contacts">Recruitment</a></span>
            </h3>
            <span class="zh">
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">人才招募 / 讓你也能成為下一個愛生態愛地球的夥伴，徹底改變世界畜產濫用抗生素的陋習，為『世界無汙染農業』盡一份心力。</p>
            </span>
            <span class="en">
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Staff Recruitment / Give you a chance to become the next the earth's ecology embracing partner, and change the abuse of antibiotics and revolutionize the world of livestock bad habits, contribute yourself into "the world's pollution-free agriculture".</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="google-map_main">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.297800166675!2d121.54142531478125!3d25.023965844848068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDAxJzI2LjMiTiAxMjHCsDMyJzM3LjAiRQ!5e0!3m2!1szh-TW!2stw!4v1462132268834" style="border:0"></iframe>
  </div>
</section>
