
<style type="text/css">
.service_row h5{
  font-size: 1.8em;
  color:#343434;
  padding-top: 6px;
  padding-bottom: 9px;
}
.brand_ico{
  width: 75%;
  border-radius: 500px;
}
.commingsoon{
  opacity: 0.3;
}
.shadow_text{
  text-shadow: 4px 3px 17px #000000;
}
.home_contect_row a{
  text-shadow: 4px 3px 2px #000000;
}
.home_contect_row p{
  text-shadow: 2px 2px 1px #000000;
}
</style>


<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
  <div class="wrapper1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Our Services!</h2>
          </div>
        </div>
      </div>
      <div class="row service_row">
        <div class="grid_4">
          <div class="box1">
            <img class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" src="<%= asset_path('page1_img2.png') %>" alt=""/>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <h5>Agricultural Technology</h5>
              無抗生素/無藥物健康養殖系統(Antibiotic-Free Farming System)，不僅為現行全球唯一真正從飼養到產出都不使用抗生素及藥物的飼育系統，除了一般防疫用不會產生二次物染的疫苗外，即便爆發全球養雞業最嚴重與常見的球蟲症(一種原蟲感染、整體死亡率20-30%或更多的疾病...
            </p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box1">
            <img class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" src="<%= asset_path('page1_img3.png') %>" alt=""/>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <h5>Path</h5>
              興聯農業以無抗生素健康養殖系統技術，帶給人們最健康的食品，以及完善的養殖方式，用各個品牌打造不同通路，增加品牌多元化。興聯農業食品不單只是健康與美味，更讓消費者體驗不一樣的幸福感。
            </p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box1">
            <img class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" src="<%= asset_path('page1_img4.png') %>" alt=""/>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
              <h5>Public Disadvantaged</h5>
              公益扶弱生態農業輔導計畫 DEAS，企業心生態農場 Eco-Farm Enterprises」，社會公益產業化『好心雞』『自足農場』….在農村和社會弱勢中生產乾淨食物與建立無污染環境，讓您我與家人共享『乾淨的吃』、『生活在好的生態環境』和『無負擔的休閒生活』。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner2 banner2__inset1 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <div class="slogan">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Only Natural</h6>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">Not just only a slognan but also a practice environmental protector</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
            <a class="btn-big wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="/abouts/">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper2">
    <div class="container">

      <div class="row">
        <!-- 第一排icon -->
        <div class="grid_4">
          <div class="box2">
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="1">
              <%= image_tag('page1_img10.png', :class=>'brand_ico') %>
            </div>
            <!-- <i class="fa fa-pagelines wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i> -->
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/products/"><strong>樂活蛋</strong></a>
            </h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">在歐美國家外國人總以生活快樂，樂活的步調悠然自在的享受生活，日本則以"優自慢"恬然生活，透過興聯快樂農場所產出的"樂活蛋"讓每位消費者於日常食衣住行中，皆能樂在其中快活優想於生活品味中.</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box2">
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="1">
              <%= image_tag('drgee-01.png', class: 'brand_ico') %>
            </div>
            <!-- <i class="fa fa-pagelines wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i> -->
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/products/"><strong>達人蛋</strong></a>
            </h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">以出產優良雞肉和蛋品為傲，故以達人自許，期盼所出產之蛋品皆為蛋品類之佼佼者，如同達人雞蛋博士一樣，為消費者品質把關與嚴選每一顆蛋.</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box2">
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="1">
              <%= image_tag('jan_shan-01.png', class: 'brand_ico') %>
            </div>
            <!-- <i class="fa fa-pagelines wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i> -->
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/products/"><strong>珍香蛋</strong></a>
            </h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">所成立的興聯第一個蛋品品牌，珍香蛋能讓每位家庭及婆婆媽媽們的桌上佳餚，添加珍香味美與健康，不僅於價格上親民，更能為大家精心挑選每一顆食用無虞的良心好蛋.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- 第一排icon -->
        <div class="grid_4">
          <div class="box2">
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="1">
              <%= image_tag('fun_egg-01.png', class: 'brand_ico') %>
            </div>
            <!-- <i class="fa fa-pagelines wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i> -->
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/products/"><strong>Fun蛋</strong></a>
            </h3>興聯快樂農場，採用全國獨家興聯農業科技技術之無藥物健康養殖系統，以低密度之人道飼養管理方式，讓每隻雞都能自在的活動與熱情地奔跑，快樂的雞，才能有Fun蛋.</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box2">
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="1">
              <%= image_tag('shiwhoegg.png', class: 'brand_ico') %>
            </div>
            <!-- <i class="fa fa-pagelines wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i> -->
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/products/"><strong>石虎蛋</strong></a>
            </h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">全國第一家結合農委會特有生物研究保育中心之石虎保育類動物所推出合作商品，由農委會特生組，特別給予一個對於商品品質，農場人到管理及無抗生素等之優良產品認證編號。為石虎好朋友之001石虎蛋，不僅僅喚起對...</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box2">
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="1">
              <%= image_tag('lowgg-01.png', class: 'brand_ico') %>
            </div>
            <!-- <i class="fa fa-pagelines wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i> -->
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/products/"><strong>Fun飼元氣滴雞精</strong></a>
            </h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">興聯Fun飼元氣滴雞精，精選興聯農場生產Fun飼雞，全雞精萃煉製，保留雞肉營養，含豐富膠質、小分子蛋白質、胺基酸，滋補養生，營養好吸收，產前後及病後補養，一年四季皆可食用，無須立即冷凍，常溫或冷藏放置保存，隨時補充一天滿滿的營養與活力.</p>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

  <div class="banner2 banner2__inset2 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <div class="slogan">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Our Production</h6>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">on serve of your needs</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">We fundamentally ensure the health of chickens as well as the food safety of people by marketing our own productions and constructing the concept of a happy farm.</p>
            <a class="btn-big wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="/products">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <blockquote class="blockquote1">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <i class="fa fa-quote-left wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i>
          <cite class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><h2 style="color: #d9d9d9 !important;">Farm To Table</h2></cite>
          <br>
          <cite class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">In order to have humanities and nature returned to the most primitive balancealso to continue the dedication with food safety and ecological environment,we are hoping to conserve this beautiful land of Taiwan by the implementation of quality agricultural products, and to ensure the sustainable development of the local agriculture.</cite>
          <a class="by wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="#">- Opul union / CEO Liu</a>
        </div>
      </div>
    </div>
  </blockquote>
  <div class="wrapper3">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Latest News</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid_12">
          <% @admin_news.each do |news| %>
            <div class="post1">
              <div class="image-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                <%= image_tag(news.main_visual.url) %>
                <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <h3>
                    <strong><%= link_to "#{news.title}", news.news_link, target: "_blank" %></strong>
                  </h3>
                  <time datetime="2014-01-01"><%= news.date_of_news.to_formatted_s(:long) %></time>
                </div>
              </div>
              <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"><%= strip_tags(news.get_long_content).gsub("&nbsp;", "").gsub("&quot;", "").gsub("&amp;", "") %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper4">
    <div class="container">
      <div class="row">
        <div class="grid_6">
          <div class="box3">
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Did you Know?<br><strong>What are food companies doing?</strong></h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">A number of major global food companies, including McDonald’s, Tyson and Walmart, have recently taken action, announcing policies to end the use of antibiotics important to human health in food producing animals. However, all three will continue to allow the use of such antibiotics if prescribed by a veterinary official, which is likely to diminish the impact of the change.</p>
            <br>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            The moves by US-based food companies has come as officials there issued a flurry of initiatives to try to show leadership on the issue, including directing federal departments and agencies to only buy meat raised with “responsible antibiotic use”.</p>
          </div>
        </div>
        <div class="grid_6">
          <div class="box3">
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">The <strong>5</strong> insistence</h3>
            <ul class="list1">
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="/inspections/">無籠飼 No cage feeding</a></li>
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"><a href="/inspections/">無抗生素 Without antibiotics</a></li>
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"><a href="/inspections/">無動物油脂 No animal fat</a></li>
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"><a href="/inspections/">無動物蛋白 No animal protein</a></li>
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"><a href="/inspections/">無合成色素 No synthetic colors</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner3 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class='shadow_text'>Recruit & Join Us</h2>
          </div>
        </div>
      </div>
      <div class="row home_contect_row">
        <div class="grid_4">
          <div class="box4">
            <img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" src="<%= asset_path('r3.png') %>" alt=""/>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/contacts">Distribution</a>
            </h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">經銷通路招募 / 尋新合作夥伴，讓美好的食材與健康分享給大家，更為孩子爭取一份乾淨食物與一個永續的綠色地球。</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box4">
            <img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" src="<%= asset_path('r2.png') %>" alt=""/>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/contacts">Recruitment firms</a>
            </h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">廠商招募 / 同業異業合作，為農業科技在台灣更進一步成長，真心的歡迎您加入。</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box4">
            <img class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" src="<%= asset_path('r1.png') %>" alt=""/>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a href="/contacts">Recruitment</a>
            </h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">人員招募 / 讓你也能成為下一個愛生態愛地球的夥伴，徹底改變世界畜產濫用抗生素的陋習，為『世界無汙染農業』盡一份心力。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="google-map_main">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.297800166675!2d121.54142531478125!3d25.023965844848068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDAxJzI2LjMiTiAxMjHCsDMyJzM3LjAiRQ!5e0!3m2!1szh-TW!2stw!4v1462132268834" style="border:0"></iframe>
  </div>
</section>
